@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #a8a8a8;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;


}

article {
  background-color: white;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
}

.img-graphic {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.graphic {
  margin: 0;
  padding: 0;
  position: relative;
}

.graphic figcaption {
  background-color: rgba(0,0,0,0.3);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;

  font-family: serif;
  font-style: italic;
}

.data {
  padding: 1rem;
  float: left;
  width: 33.333%;
  border-right: 1px solid #a8a8a8;
}

.data h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #a8a8a8;
}

.data:last-child {
  border: 0;
}
